<div class="container">
  <div class="row">
    <div class="col s12 m4" *ngFor="let wresler of wreslerList">
      <div class="card">
        <div class="card-image">
          <img src="../../services/data.ts/../{{ wresler.image }}" />
          <span class="card-title">{{ wresler.name | uppercase }}</span>
          <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"
            ><i class="material-icons">add</i></a
          > -->
        </div>
        <div class="card-content">
          <table class="highlight">
            <thead>
              <tr>
                <th><i class="red-text fab fa-hotjar"></i> Special Move</th>
                <th>Rent Price</th>
                <th>Debut</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ wresler.specialMove }}</td>

                <td>
                  {{ wresler.rentPrice | currency: "EUR":true }}
                </td>
                <td>
                  {{ wresler.debut }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
