<nav class="orange darken-1">
  <div class="nav-wrapper">
    <a [routerLink]="['/dashboard']" class="brand-logo"
      ><i class="material-icons">whatshot</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['/dashboard']"
          ><i class="material-icons left">home</i>Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/match-calendar']"
          ><i class="material-icons left">perm_contact_calendar</i>Calendar</a
        >
      </li>
      <li>
        <a [routerLink]="['/wreslers-list']"
          ><i class="material-icons left">perm_identity</i>Champions</a
        >
      </li>
    </ul>
  </div>
</nav>
