<!-- <div class="container">
  <h1 class="center">Home</h1>
  <div>
    <h2>Upcoming matches</h2>
    <div class="row">
      <div class="col s12 m5" *ngFor="let m of matchList">
        <div class="card">
          <div class="card-image">
            <img
              [routerLink]="['/wresler-details', wresler.wreslerId]"
              src="../../services/data.ts/../{{ wresler.image }}"
            />
            <span class="card-title">{{ wresler.name | uppercase }}</span>
            <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"
              ><i class="material-icons">add</i></a
            > -->
          </div>
          <div class="card-content">
          </div>
          <div class="card">
            <div class="card-image">
              <img
                [routerLink]="['/wresler-details', wresler.wreslerId]"
                src="../../services/data.ts/../{{ wresler.image }}"
              />
              <span class="card-title">{{ wresler.name | uppercase }}</span>
              <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"
                ><i class="material-icons">add</i></a
              > -->
            </div>
            <div class="card-content">
            </div>
        </div>
      </div>
    </div>

  </div>



</div> -->
